

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%; 
  margin: 0 auto;
}

.large-img {
  display: none;
  float: right;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: white;
  width: 100%;
}

nav {
  text-align: center;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px black dotted;
  text-align: center;
  text-decoration: none;
  color: white;
}

header p {
  text-align: center;
  font-size: 16px;
}

h1 {
  text-align: center;
}


.small, .medium, .large {
  display: none;
}



@media screen and (min-width: 576px) {
  body {
    background-color: #e0e0e0; 
    color: #333; 
  }

  .small {
    display: block;
    font-size: 1em; 
  }
}


@media screen and (min-width: 768px) {
  body {
    background-color: #c0c0c0; 
    color: #222; 
    font-size: 1.2em; 
  }

  .medium {
    display: block;
  }

  nav a {
    display: inline;
  }
}


@media screen and (min-width: 992px) {
  body {
    background-color: #a0a0a0; 
    color: #111; 
    font-size: 1.4em;
  }

  .large {
    display: block;
  }

  .large-img {
    display: block;
  }
}
